<DOCTYPE html>
    <html>
    <head>
        <link href="~/Content/bootstrap/css/bootstrap.css" rel="stylesheet" />
        <link href="~/Content/Style.css" rel="stylesheet" />

    </head>
    <body>

        <div class="container-fluid">
            <div class="row-fluid">
                <div class="span10" ng-switch-when="@ViewBag.Departamntos">

                    @*Menu Lateral*@
                    <div class="sidebar-nav well">

                        <ul class="nav nav-list">
                            @foreach (var departamento in ViewBag.Departamentos)
                            {
                                <div class="icon-align-right">
                                    @*Destaque dos departamentos*@
                                    <li class="nav-header">@departamento.Nome</li>
                                </div>

                                foreach (var categoria in departamento.Categorias)
                                {
                                    <li>@categoria.Nome</li>
                                }

                            }
                        </ul>
                    </div>

                </div>
                <div class="span9">

                </div>
            </div>
        </div>




    </body>


</html>


</DOCTYPE>